{% extends "base.html" %} {% block titulo %} Inicio {% endblock %} 
{% block contenido %}<br /><br />

<div class="content">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1 class="display-4">BIENVENIDO</h1>
          <p class="lead">Sistema Digital De Soporte Tecnico</p>
          <hr class="my-4" />
          <p class="card-text">
            Un sistema digital de soporte técnico es un conjunto de herramientas
            y procesos que se utilizan para proporcionar asistencia técnica a
            los clientes o usuarios de un producto o servicio.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
